source/interview.html.slim
---
title: インタビュー
---

.interview

  .chat.left
    .cat-avatar
      = image_tag 'cat01.jpg'
    .cat-miaow
      p
        | 僕はサバトラの翔平、7歳です！いろいろあって健太郎と一緒に
        br
        | 他の施設から猫婆に引っ越しました。健太郎はまだ猫婆にいるみたいですが、、、

  .chat.right
    .cat-avatar
      = image_tag 'cat02.jpg'
    .cat-miaow
      p
        | 僕は4歳の茶トラのチャーです！飼い主のレイにはチャーちゃんって呼ばれています。
        br
        |  元は猫婆の近くの野良猫でしたが、猫婆のおばちゃんが僕に一目惚れをし、捕まえらてしまいました。
        br
        |  突然生活が変わってビックリしましたが、そのおかげでレイと出会え、今となっては良かったと思っています^^

dist/interview.html
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.interview {
  display: grid;
  grid-template-columns: 0.5rem 1fr 1fr 0.5rem
}

@media (min-width: 768px) {
  .interview {
    grid-template-columns: 1rem 1fr 5fr 1fr 1rem
  }
}

.chat {
  box-sizing: border-box;
  margin: 0.5rem 0
}

.chat.left {
  grid-column: 2 / span 2;
  display: -ms-grid;
  display: grid;
  grid-template-columns: minmax(60px, 10vw) 1fr;
  grid-template-rows: 1fr;
  column-gap: 18px
}

.chat.left .cat-avatar {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1
}

.chat.left .cat-avatar img {
  width: 100%;
  border-radius: 12px
}

.chat.left .cat-miaow {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
  display: -ms-grid;
  display: grid
}

.chat.left .cat-miaow p {
  display: inline-block;
  min-height: calc(18px + 20px + 18px);
  margin: 0;
  padding: 18px 10px 18px 10px;
  position: relative;
  border-radius: 12px;
  background: #d7ebfe
}

.chat.left .cat-miaow p::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 18px;
  left: -24px;
  border: 12px solid transparent;
  border-right: 12px solid #d7ebfe
}

.chat.right {
  grid-column: span 2 / -2;
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr minmax(60px, 10vw);
  grid-template-rows: 1fr;
  column-gap: 18px
}

.chat.right .cat-avatar {
  grid-column: 2;
  grid-row: 1
}

.chat.right .cat-avatar img {
  width: 100%;
  border-radius: 12px
}

.chat.right .cat-miaow {
  grid-column: 1;
  grid-row: 1;
  display: -ms-grid;
  display: grid
}

.chat.right .cat-miaow p {
  display: inline-block;
  min-height: calc(18px + 20px + 18px);
  margin: 0;
  padding: 18px 10px 18px 10px;
  position: relative;
  border-radius: 12px;
  background: #d7ebfe
}

.chat.right .cat-miaow p::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 18px;
  right: -24px;
  border: 12px solid transparent;
  border-left: 12px solid #d7ebfe
}
  </style>
</head>

<body>
<div class="interview">
  <div class="chat left">
    <div class="cat-avatar">
      <img src="/images/cat01.jpg" alt="Cat01">
    </div>
    <div class="cat-miaow">
      <p>
        僕はサバトラの翔平、7歳です！いろいろあって健太郎と一緒に<br>
        他の施設から猫婆に引っ越しました。健太郎はまだ猫婆にいるみたいですが、、、
      </p>
    </div>
  </div>
  <div class="chat right">
    <div class="cat-avatar">
      <img src="/images/cat02.jpg" alt="Cat02">
    </div>
    <div class="cat-miaow">
      <p>
        僕は4歳の茶トラのチャーです！飼い主のレイにはチャーちゃんって呼ばれています。<br>
        元は猫婆の近くの野良猫でしたが、猫婆のおばちゃんが僕に一目惚れをし、捕まえらてしまいました。<br>
        突然生活が変わってビックリしましたが、そのおかげでレイと出会え、今となっては良かったと思っています^^
      </p>
    </div>
  </div>
</div>

</body>
</html>
